<p>customer-list works!</p>
 <table mat-table border="1px">
  <thead>
    <tr>
        <th>Customer Id</th> 
        <th>Customer Name</th> 
        <th>Account Number</th >
        <th>Email</th >
        <th>Gender</th >
        <th>Number Id</th >
        <th>Confirm password</th>  
        <th> Password</th>    
    <th>Action</th>  
  
     
    </tr>
  </thead>
  <tbody>
    <tr mdbTableCol *ngFor="let customer of customers">
      <!-- <th scope="row">{{el.id}}</th> -->
      <td>{{customer.customer_id}}</td>  
      <td>{{customer.customer_name}}</td>  
      <td>{{customer.account_number}}</td>  
      <td>{{customer.email}}</td> 
      <td>{{customer.gender}}</td> 
      <td>{{customer.national_id}}</td>  
      <td>{{customer.confirm_password}}</td> 
      <td>{{customer.password}}</td> 
      <td><button (click)="customerDetails(customer.customer_id)">Details</button></td>
    </tr>
  </tbody>
</table> 
<router-outlet></router-outlet>